@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-nav{
  border-bottom: 4px solid #9797a5;
  padding-bottom: 14px;
  width: fit-content;
}
.App{
  height: 100vh;
}
.recharts-surface{
  padding-right: 30px!important;
}
.recharts-legend-wrapper{
  display: none;
}