@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header-nav {
  border-bottom: 4px solid #9797a5;
  padding-bottom: 14px;
  width: fit-content;
}
.App,
#root {
  height: 100vh;
}
.App-header {
  padding: 0px 40px;
}
.recharts-surface {
  padding-right: 30px !important;
}
.recharts-legend-wrapper {
  display: none;
}
.submitButton,
.submitButton:hover {
  background-color: #57e9e0 !important;
  color: #115c5e;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid #115c5e;
}
.tableCardBody {
  overflow-x: hidden;
  width: 80%;
}
@media (max-width: 900px) {
  .tableCardBody {
    overflow-x: auto;
    width: 100%;
  }
  .form-wrapper form {
    display: grid;
    width: 100%;
  }
  .controllerrr,
  .form-wrapper form input,
  .submitButton {
    margin: 04px 0;
    width: 100%;
  }
}
@media (max-width: 769px) {
  .tableCardBody {
    overflow-x: auto;
    width: 100%;
  }
  .form-wrapper form {
    display: grid;
    width: 100%;
  }
  .App-header {
    padding: 10px;
  }
  .header-nav a {
    font-size: 12px;
    padding-bottom: 21px !important;
  }
}
.tableHead tr th {
  border-top: 0px;
  border-bottom: 1px solid #e5e7eb;
}

.input-underline::after {
  content: "";
  display: block;
  width: 10vw;
  height: 2px;
  background-color: rgb(114, 197, 230);
  margin-top: 6px;
}

.convert-underline::after {
  content: "";
  display: block;
  width: 10vw;
  height: 2px;
  background-color: rgb(92, 77, 228);
  margin-top: 6px;
}

.custom-parent-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 430px 0px 800px;
}

@media (max-width: 1440px) {
  .custom-parent-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 12rem 0px 40rem;
    position: fixed;
  }
  .input-underline::after {
    width: 12vw;
  }

  .convert-underline::after {
    width: 12vw;
  }
}
